<p>
  <strong>To Do List for </strong>
  <%= @author.name %>
</p>

<div id="todo_items_wrapper">
 <%= render @author.todo_items %>
 <div id="form">
  <%= render "todo_items/form" %>
 </div>
</div>

<%= link_to 'Back', authors_path %>
